<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.frontuari.ftucheckpoint.process.FTUConfirmedCheckPoint"
         name="FTUConfirmedCheckPoint"
         point="org.adempiere.base.Process">
      <process
            class="net.frontuari.ftucheckpoint.process.FTUConfirmedCheckPoint"
            priority="1">
      </process>
   </extension>

</plugin>
